	{% load static %}
    <!-- Start header -->
	<header class="top-navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<div class="container">
				<a class="navbar-brand" href="{% url 'index' %}">
					<img src="{% static 'images/logo.png' %}" alt="" />
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbars-rs-food" aria-controls="navbars-rs-food" aria-expanded="false" aria-label="Toggle navigation">
				  <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbars-rs-food">
		
					<ul class="navbar-nav ml-auto">
						<li class="nav-item {% if '/' == request.path %} active {% endif %}"><a class="nav-link" href="{% url 'index' %}">Veyselin Mekanı</a></li>
						<li class="nav-item {% if 'about' in request.path %} active {% endif %}"><a class="nav-link" href="{% url 'about' %}">Hakkımızda</a></li>
						<li class="nav-item {% if 'hotel' == request.path %} active {% endif %}"><a class="nav-link" href="{% url 'hotel' %}">Hoteller</a></li>
						<li class="nav-item active dropdown"><a class="dropdown-item {% if 'rooms' == request.path %} active {% endif %}" href="{% url 'rooms' %}">Odalar</a></li>
						<li class="nav-item {% if 'contact' == request.path %} active {% endif %}"><a class="nav-link" href="{% url 'contact' %}">İletişim</a></li>
						<li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" id="dropdown-a" data-toggle="dropdown">Giriş</a>
							<div class="dropdown-menu" aria-labelledby="dropdown-a">							
								<a class="dropdown-item" href="{% url 'login' %}">Login<i class="fa fa-sign-in ml-4"></i></a>
								<a class="dropdown-item" href="{% url 'register' %}">Kayıt<i class="fa fa-user-plus ml-4"></i></a>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<!-- End header -->