{% extends 'partials/_base.html ' %}
{% load static %}
{% block content %}
	
	<!-- Start About -->
	<div class="about-section-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<img src="{% static 'images/about-img.jpg' %}" alt="" class="img-fluid">
				</div>
				<div class="col-lg-6 col-md-6 text-center">
					<div class="inner-column">
						<h1>Hoşgeldiniz <span>Hotel Veysel'e</span></h1>
						<h2>Hikayemiz</h2>
						<p>Hotel işi bize babadan kalma bir meslektir.  </p>
						<p>BABAM SAĞOLSUN</p>
					</div>
				</div>
				<div class="col-md-12">
					<div class="inner-pt">
						<p>Sakarya Uygulamalı Bilimler Üniversitesi, 18 Mayıs 2018 tarihli Resmî Gazete'de yayınlanan KHK ile kurulmuştur. Üniversite bünyesinde 1 enstitü, 6 fakülte, 1 yüksekokul ve 12 meslek yüksekokulu bulunmaktadır.  </p>
						<p>Sakarya Uygulamalı Bilimler Üniversitesi, 18 Mayıs 2018 tarihli Resmî Gazete'de yayınlanan KHK ile kurulmuştur. Üniversite bünyesinde 1 enstitü, 6 fakülte, 1 yüksekokul ve 12 meslek yüksekokulu bulunmaktadır.  </p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End About -->

	<!-- Start Contact info -->
	<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Phone</h4>
						<p class="lead">
							+90 536 548 9658
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<p class="lead">
							b200109035@subu.edu.tr
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Location</h4>
						<p class="lead">
							Serdivan / Sakarya
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact info -->
	
{% endblock %}