{% extends 'partials/_base.html ' %}
{% load static %}
{% block content %}
	
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>İletişim</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
	
	<!-- Start Contact -->
	<div class="contact-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>İletişim</h2>
						<p>Bu sayfa üzerinden bizimle iletişime geçebilirsiniz.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="offset-xl-3 col-lg-12">
					{% if messages %}
						{% for message in messages %}
							<div class="alert alert-{{message.tags}}">
								{{ message }}
							</div>
						{% endfor %}
					{% endif %}

					<form method="POST" action="">
						{% csrf_token %}
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									{{ form.name }}
									<div class="help-block with-errors"></div>
								</div>                                 
							</div>
							<div class="col-md-12">
								
								<div class="form-group">
									{{ form.email }}
									<div class="help-block with-errors"></div>
							</div>
							</div>
							<div class="col-md-12">
								
								<div class="form-group">
									{{ form.phone }}
									<div class="help-block with-errors"></div>
								</div> 
							</div>
							<div class="col-md-12">
								<div class="form-group"> 
									{{ form.message }}
									<div class="help-block with-errors"></div>
								</div>
								<div class="submit-button text-center">
									<a href="{% url 'contact' %}">
									<button class="btn btn-common" type="submit" style="margin-right: 300px;">Gönder</button>
									</a>
									<div id="msgSubmit" class="h3 text-center hidden"></div> 
									<div class="clearfix"></div> 
								</div>
							</div>
						</div>            
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact -->
	
	<!-- Start Contact info -->
	<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Telefon</h4>
						<p class="lead">
							+90 537 7701925
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<p class="lead">
							b200109035@subu.edu.tr
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Lokasyon</h4>
						<p class="lead">
							Serdivan / Sakarya
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact info -->
	{% endblock %}