{% extends 'partials/_base.html ' %}
{% load static %}
{% block content %}
	
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1><strong>HOTELLER</strong></h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
	
	<!-- Start Gallery -->
	<div class="gallery-box">
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>RESİMLER</h2>
						<p>Bu kısımda var olan hotellerin tanıtımı yapılmıştır.</p>
					</div>
				</div>
			</div>
			<div class="tz-gallery">
				<div class="row">
					{% for hote in hotel %}
					<div class="col-sm-12 col-md-4 col-lg-4 mb-5">
						<a class="lightbox" href="{% url 'hoteldetay' hote.category_id.slug hote.id %}">
							<img class="img-fluid" src="{{hote.image.url}}" style="width: 450px; height: 450px;" alt="Gallery Images">
						</a>
						<p>
							{{hote.description | truncatechars:100}}
						</p>
						<p>
							{{hote.city}}
						</p>
						<p>
							{{hote.country}}
						</p>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	<!-- End Gallery -->
	
{% endblock %}
	