{% extends 'partials/_base.html ' %}
{% load static %}
{% block content %}
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Login</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
	
	<!-- Start Reservation -->
	<div class="reservation-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-c
					enter">
						<h2>Login</h2>
						<p style="margin-right: 12px;">Login işlemlerini bu sayfadan yapabilirsiniz.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-sm-12 col-xs-12">
					<div class="contact-block">
						<form method="POST" role="form" class="form-horizontal">
                            {% csrf_token %}

                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-{{message.tags}}">

                                {{message}}
                            </div>
                            {% endfor %}

                            {% endif %}

                            <div class="form-group">
                                <div class="col-sm-12">
                                    {{form.username}}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    {{form.password}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-10">
                                    <input type="Submit" value="Login" class="btn btn-light btn-radius btn-brd grd1">
                                </div>
                            </div>
                        </form>

						<!-- <form id="contactForm" method="POST">
							{% csrf_token %}

							{% if messages %}

								{% for message in messages %}
								<div class="alert alert-{{ message.tags }}">
									{{ message }}
								</div>
								{% endfor %}

							{% endif %}


							<div class="row" style="margin-left: 350px;">
								<div class="col-md-6">
									<div class="col-md-12">
										<div class="form-group">
											{{ form.username }}
											<div class="help-block with-errors"></div>
										</div> 
									</div>
									<div class="col-md-12">
										<div class="form-group">
											{{ form.password }}
											<div class="help-block with-errors"></div>
										</div> 
									</div>
								</div>
								<div class="col-md-12">
									<div class="row">
										<div class="col-sm-10">
											<input type="submit"  class="btn btn-common"  style="margin-left: 120px;" value="Login">
										</div>
									</div>
								</div>
							</div>            
						</form> -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Reservation -->
	
	<!-- Start Contact info -->
	<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Phone</h4>
						<p class="lead">
							+90 537 770 1925
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<p class="lead">
							b200109035@subu.edu.tr
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Lokasyon</h4>
						<p class="lead">
							Serdivan / Sakarya
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact info -->

	{% endblock %}