{% extends 'partials/_base.html ' %}
{% load static %}
{% block content %}
	
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Oda</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
	
	<!-- Start Stuff -->
	<div class="stuff-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Oda</h2>
						<p>Bu sayfada odanın tanıtımı yapılmıştır.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6">
					<div class="our-team">
						<img src="{{ room_detail.image.url }}">
						<div class="team-content">
							<h3 class="title">{{ room_detail.title }}</h3>
							<span class="post">{{ room_detail.description }}</span>
							<ul class="social">
								<li><a href="{{ room_detail.facebook }}"><i class="fa fa-facebook-f"></i></a></li>
								<li><a href="{{ room_detail.twitter }}"><i class="fa fa-twitter"></i></a></li>
							</ul>
						</div>
					</div>
				</div>			
			</div>
		</div>
	</div>
	<!-- End Stuff -->
	
	<!-- Start Contact info -->
	<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Telefon</h4>
						<p class="lead">
							+90 537 770 1925
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<p class="lead">
							b200109035@subu.edu.tr
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Lokasyon</h4>
						<p class="lead">
							Serdivan / Sakarya
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact info -->
{% endblock %}
