{% extends 'partials/_base.html ' %}
{% load static %}
{% block content %}
	<!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb">
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Odalar</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->
	
	<!-- Start Menu -->
	<div class="menu-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12" style="text-align: center;">
						<h2><b>ODALAR</b> </h2><br>
						<p style="font-size: 30px;">Bu sayfada odalarımızın tanıtımı yapılmıştır.</p>
				</div>
			</div>
				
			<div class="row special-list">
				{% for room in rooms %}
				<div class="col-lg-4 col-md-6 special-grid drinks">
					<div class="gallery-single fix">
						<img src="{{ room.image.url }}" class="img-fluid" alt="Image" style="width: 400px; height: auto;	">
						<div class="why-text">
							<a href="{% url 'room_detail' room.id %}"><h4>{{room.title}}</h4></a>
							<p>{{ room.description }}</p>
							<h5> {{ room.price }}</h5>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	<!-- End Menu -->
	
	<!-- Start Contact info -->
	<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Phone</h4>
						<p class="lead">
							537 770 1925
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<p class="lead">
							b200109035@subu.edu.tr
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Location</h4>
						<p class="lead">
							Serdivan / Sakarya
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact info -->
{% endblock %}
